[watcher:edr_webapp]
cmd = {{ path_to_code }}/bin/chaussette --fd $(circus.sockets.edr_web) --backend=gevent paste:{{ path_to_auth }}/openprocurement.integrations.edr.ini
numprocesses = 1
use_sockets = True
priority = 90
stdout_stream.class = FileStream
stderr_stream.class = FileStream
stdout_stream.filename = {{ path_to_logs }}/edr_webapp.stdout.log
stderr_stream.filename = {{ path_to_logs }}/edr_webapp.stderr.log

[socket:edr_web]
host = {{ proxy_host }}
port = {{ proxy_port }}